<mat-toolbar class="flex flex-row gap-2 justify-c-between" color="primary">
	<div id="state">
		<mat-icon *ngIf="isConnected()">wifi</mat-icon>
		<mat-icon *ngIf="!isConnected()" color="accent">wifi_off</mat-icon>
	</div>

	<div *ngIf="user() as user" class="align-i-center flex gap-4">
		<span>{{ user.username }} - {{ user.balance }}$</span>

		<button
			color="error"
			mat-raised-button
			type="button"
			(click)="logout()"
		>
			Logout
		</button>
	</div>

	<div *ngIf="user() === null">
		<button
			color="accent"
			mat-raised-button
			type="button"
			(click)="goToLogin()"
		>
			Login
		</button>
	</div>
</mat-toolbar>
